.screen_box {
	width: 600px;
	height: 600px;
	background: black;
	user-select: none;
	position: absolute;
	
	.drag-container {
		background: darkred;
		position: absolute;
		left: 0;
		top: 0;
		
		&.active {
			border: 1px solid #4e8cff;
		}
		
		.resize-handler {
			position: absolute;
			background: rgba(78,140,255,0.8);
			/* background: #1998FC; */
			box-sizing: border-box;
			border-radius: 50%;
			&.tm {
				left: 50%;
			}
			&.r {
				top: 50%;
			}
			&.bm {
				left: 50%;
			}
			&.l {
				top: 50%;
				cursor: pointer;
			}
		}
	}
}

