.screen_box {
	width: 600px;
	height: 600px;
	background: black;
	user-select: none;
	position: absolute;
	
	.drag-container {
		background: darkred;
		position: absolute;
		left: 0;
		top: 0;
		
		&.active {
			border: 1px solid #4e8cff;
		}
	}
}

