@import "tailwindcss";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 8px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	background-color: #3a7b74;
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 10px;
}

::-webkit-scrollbar-corner {
	/*滚动条横纵夹角*/
	background: #000000;
}
/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
