.layout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.layout__topbar {
		height: 24px;
	}
	
	.layout__wrapper {
		display: flex;
		flex: 1;
		width: 100%;
		overflow: hidden;
		
		.left-sidebar {
			width: 250px;
			height: 100%;
			background: #121316;
			border-right: 1px solid #22242a;
			/*color: white;*/
		}
		
		.main {
			flex: 1;
			height: 100%;
			background: #1c1e23;
			position: relative;
			overflow: hidden;
			
			.canvas__wrapper {
				width: 100%;
				height: calc(100% - 40px);
				padding: 20px 12px;
				position: relative;
				overflow: auto;
			}
			
			.canvas__bar {
				height: 40px;
				background: #121316;
				color: white;
			}
		}
	}
}


